<div id="user-info">
 
  <% if current_user.profile_image.attached? %>
    <%= image_tag current_user.profile_image %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>
  <p>name <%= current_user.name %></p>
  <p>introduction <%= current_user.introduction %></p>

  <%= link_to 'Edit User Info', edit_user_path(current_user) %>
</div>