<div id="user-info">
 
  
  <% if current_user.profile_image.attached? %>
    <%= image_tag current_user.profile_image %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>
  
  <table class = "table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>
 
 <%= link_to(edit_user_path(current_user)) do %>
  <i class="fa-solid fa-user-gear"></i> Edit User Info
<% end %
</div>