<div class="container">
  <div class="row">

   <%= render 'users/user_info', user: @user, book: @book %>


   <div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% if @books.present? %>
        <% @books.each do |book| %>

        <%= link_to user_path(book.user_id) do %>
          <tr>
            <td>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize: "80x80"), class: "avatar img-fluid rounded-circle" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "img-fluid rounded-circle" %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= book.body %></td>
          </tr>

          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No books found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>